{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 110,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-organize-imports"]
}
